rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stripe_customers/{uid}/sources/{doc=**} {
    	allow read: if request.auth.uid == uid
    }
    match /stripe_customers/{uid}/tokens/{doc=**} {
    	allow read, write: if request.auth.uid == uid
    }
    match /bets/{doc} {
    	allow read: if request.auth.uid in resource.data.members
    }
  }
}
